body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: linear-gradient(162deg, rgba(26,6,40,1) 0%, rgba(52,7,50,1) 50%, rgba(71,2,68,1) 100%);
}

#jewify-table {
  /*border-collapse: collapse;*/
  table-layout: fixed;
  max-width: 1600px;
  padding: 20px;
  margin: 0 auto;
  color: #d8e0e8;
}

#jewify-table th {
  background-color: #182736;
  /*border-bottom: 1px solid white;*/
  padding: 15px 8px;
}
#jewify-table tbody {
  background-color: #282c34;
}
/*name headers*/
#jewify-table th:nth-child(n+5) {
  width: 100px;
}

#jewify-table td {
  color: #d8e0e8;
  padding: 12px;
}
#jewify-table td.payer {
  text-align: center;
  cursor: pointer;
  color: #b8e6b8;
  background-color: rgba(0,100,0,0.1);
}
#jewify-table td.payer.inactive,
#jewify-table .quantity-input.inactive {
  opacity: 0.8;
  color: #e6b8c2;
  background-color: rgba(150,0,0,0.1);
}

#jewify-table tr:hover {
  background-color: rgba(255,255,255,0.1);
}

#jewify-table td:hover {
  -webkit-box-shadow:inset 0px 0px 0px 2px #a5e6e8;
  -moz-box-shadow:inset 0px 0px 0px 2px #a5e6e8;
  box-shadow:inset 0px 0px 0px 2px #a5e6e8;
}

/*totals*/
#jewify-table tr:last-child td:not(:first-child) {
  text-align: center;
  font-weight: bolder;
  background-color: #282c34;
}

#jewify-table .quantity-input {
  max-width: 50px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

#jewify-table .type-select {
  padding: 5px;
  background-color: #23272e;
  color: white;
  border: none;
}

.csv-btn-container {
  display: flex;
  justify-content: center;
}

.csv-btn-container > a {
  padding: 10px;
  color: white;
  background-color: #5B3256;
  border-radius: 10px;
  border: 1px solid #182736;
}

.delivery-title {
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}